<div *ngIf="investmentDetailsList.length > 0; else noData">
    <h3 class="table">Investment Details List</h3>
  
    <div class="table">
      <table>
        <thead>
          <tr>
            <th scope="col">Asset Type</th>
            <th scope="col">Quantity</th>
            <th scope="col">Purchase Price</th>
            <th scope="col">Purchase Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let details of investmentDetailsList">
            <td>{{ details.assetType }}</td>
            <td>{{ details.quantity }}</td>
            <td>{{ details.purchasePrice | currency }}</td>
            <td>{{ details.purchaseDate | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noData>
    <p class="no-data-message">No investment details available.</p>
  </ng-template>